<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/chronik.css" | relURL}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=3.0">
    <meta charset="utf-8">
   

  </head>
  <body>

    <div id="container">

      <div id="header">

      

	<div id="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
	<div id="site-slogan">{{ .Site.Params.Description }}</div>

      </div>

      {{ partial "menu.html" . }}

      <div id="content">

        <div id="article">
	  <h1>{{ .Title }}</h1>
